<div class="flex flex-col bg-[#EFF2FF] m-6 lg:p-6 md:p-3 rounded">
    <div class="flex justify-between items-center max-lg:flex-col max-lg:gap-4 lg:py-4 p-2 max-lg:items-start">
        <div class="flex items-center gap-4">
            <div class="flex">
                <input class="rounded-l-full h-10 lg:w-80 md:w-60 w-40" type="text">
                <button class="flex items-center justify-center pr-1 h-10 w-12 rounded-r-full bg-[#744BFC]">
                    <img src="assets/icons/search.svg" class="w-6" alt="search">
                </button>
            </div>
            <span class="flex items-center justify-center bg-white h-8 w-8 rounded-full">
                <img src="assets/icons/union.svg" alt="">
            </span>
        </div>

        <button 
            (click)="openModal= true" 
            class="flex items-center gap-4 text-white px-6 py-2 w-52 rounded-full bg-[#744BFC]"
        >
            <img src="assets/icons/plus.svg" class="w-4" alt="plus">
            Yeni Hesap Ekle
        </button>
    </div>

    <div class="flex flex-col border rounded-lg mt-4 shadow-sm">
        <table class="w-full overscroll-auto ">
            <thead>
                <tr class="bg-white rounded-lg">
                    <th scope="col" class="text-start border-b-2 border-r-2 lg:px-6 md:px-3 py-4 w-[25%] border-[#C4CEE5]">Sosyal Medya Linki</th>
                    <th scope="col" class="text-start border-b-2 border-r-2 lg:px-6 md:px-3 py-4 w-[25%] border-[#C4CEE5]">Sosyal Medya Adı</th>
                    <th scope="col" class="text-start border-b-2 lg:px-6 md:px-3 py-4 w-[50%] border-[#C4CEE5]">Açıklama</th>
                </tr>
            </thead>

            <tbody>
                @for (item of paginatedDatas; track $index; let even = $even) {
                <tr [ngClass]="even ? 'bg-white/70' : '' ">
                    <td class="lg:px-6 md:px-3 py-4 border-r-2 max-md:text-xs border-[#C4CEE5]">{{item.url}}</td>
                    <td class="lg:px-6 md:px-3 py-4 border-r-2 max-md:text-xs border-[#C4CEE5]">{{item.name}}</td>
                    <td class="lg:px-6 md:px-3 py-4 max-md:text-xs border-[#C4CEE5]">{{item.description}}</td>
                </tr>
                } @empty {
                    <tr>
                        <td class="p-4 text-center font-semibold" colspan="3">Veri bulunamadı</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="flex gap-3 items-center justify-between p-2 mt-2 font-medium text-[#744BFC]">
        <div class="flex items-center gap-4">
            Show:
            <div class="px-4 pr-10 py-2 bg-white rounded-3xl border border-[#744BFC]/50 ">
                <div class="relative flex text-black font-light">
                    {{rowNumber}} rows
                    <img (click)="changeRowNumber(1)" class="absolute top-1 left-16 cursor-pointer" src="assets/icons/up.svg" alt="">
                    <img (click)="changeRowNumber(-1)" class="absolute top-4 left-16 cursor-pointer" src="assets/icons/down.svg" alt="">
                </div>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <img 
                [ngClass]="currentPage == 1 ? 'gray-filter cursor-not-allowed' : '' " 
                (click)="changePageNumber(-1)" class="cursor-pointer pr-1" 
                src="assets/icons/left.svg"
            >
            <span class="max-w-fit p-1 px-2 w-8 rounded text-center border border-gray-300 bg-white">{{currentPage}}</span>
            <span class="text-gray-500 text-sm font-thin">of</span>
            <span class="font-medium" >{{totalPages}}</span>
            <img 
                [ngClass]="currentPage == totalPages ? 'gray-filter cursor-not-allowed' : '' " 
                (click)="changePageNumber(1)" class="cursor-pointer pl-1" 
                src="assets/icons/right.svg"
            >
        </div>
    </div>
</div>

<add-account-modal [isOpen]="openModal" (modalChangeEvent)="openModal= false" ></add-account-modal>